* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #327A81;
}

p {
  margin: 15px;
  color: #0;
  background-color: #77B6EC;
  padding: 10px;
}

.intro {
  margin: 35px;
  color: #0;
  background-color: #77B6EC;
  padding: 20px;
}

.intro-image img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.something {
  margin: 35px;
  padding: 10px;
  color: 0;
  background-color: #7F9FA5;
}

.self-portrait {
  padding: 15px;
}

.self-portrait img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolio {
  margin-top: 10px;
  margin-bottom: 25px;
  display: grid;
  grid-template: auto auto auto auto auto / 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image img{
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .self-portrait {
    justify-content: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .intro-image img{
    padding: 10px;
    width: 50%;
  }
  .portfolio {
    grid-template: auto auto auto auto auto / 1fr 1fr;
  }
  .image img{
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .intro-image img{
    padding: 30px;
    width: 30%;
  }


  .portfolio {
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    width: 90%;
  }

  .image img{
    width: 100%;
  }

  .portfolio-container {
    display: flex;
    justify-content: center;

  }
}
